footer.footer#contacts
  .footer__container.container
    .footer__wrapper
      .footer__title.h4 GloryVision
      .footer__copy © 2019
      a.footer__link(href="#!") Политика конфиденциальности

    .footer__info
      .footer__social
        a.footer__social-item.footer__social-item--telegram(href="#!")
        a.footer__social-item.footer__social-item--skype(href="#!")

      .footer__info-item.footer__info-item--mail support@brainyplan.com
      .footer__info-item.footer__info-item--address Россия, г. Воронеж,<br> ул. Комиссаржевской, 10