doctype html
html(lang='ru' dir='ltr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title BrainyPlan

    link(href='styles/libs.min.css' rel='stylesheet')
    link(href='styles/main.css' rel='stylesheet')

  body
    include var.pug
    include mixins.pug