-
  var nav = [
    {
      name: "О приложении",
      anchor: "#about"
    },
    {
      name: "Преимущества",
      anchor: "#advantages"
    },
    {
      name: "Поддерживаемые платформы",
      anchor: "#platforms"
    },
    {
      name: "Цены",
      anchor: "#price"
    },
    {
      name: "Контакты",
      anchor: "#contacts"
    },
  ]

  var price = [
    {
      label: "1 месяц",
      price: "149 ₽",
      dataModalTitle: "Вы хотите купить подписку<br> на 1 месяц?",
      dataSuccessTitle: "Подписка на 1 месяц успешно оформлена"
    },
    {
      label: "6 месяцев",
      price: "649 ₽",
      tip: "30%<br> выгода",
      dataModalTitle: "Вы хотите купить подписку<br> на 6 месяцев?",
      dataSuccessTitle: "Подписка на 6 месяцев успешно оформлена"
    },
    {
      label: "12 месяцев",
      price: "999 ₽",
      tip: "30%<br> выгода",
      dataModalTitle: "Вы хотите купить подписку<br> на 12 месяцев?",
      dataSuccessTitle: "Подписка на 12 месяцев успешно оформлена"
    },
    {
      label: "Пожизненная<br> лицензия ",
      price: "1699 ₽",
      dataModalTitle: "Вы хотите купить<br> пожизненную<br> лицензию?",
      dataSuccessTitle: "Пожизненная лицензия<br> успешно оформлена"
    },
  ]

  var slider = [
    {
      title: "Система целей",
      text: "Ставьте цели и выполняйте их в нужный период времени. Перед вашими глазами как уже пройденный путь, так и оставшиеся шаги до безусловного успеха! Контролируйте свой прогресс с помощью удобной системы отображения целей.",
      img: "goals-system"
    },
    {
      title: "Доступ из социальной сети",
      text: "Для вашего удобства предусмотрена функция работы с ботом, который предоставляет доступ к целям, задачам и спискам. Всё для того, чтобы вы ничего не забыли даже во время общения в мессенджерах.",
      img: "social-network-access"
    },
    {
      title: "Совместная работа над задачей",
      text: "Работаете над совместным проектом, включающим непрерывное общение с командой? У вас есть возможность создать чат к каждой задаче прямо в BrainyPlanner’е без дополнительных скачиваний ненужных приложений.",
      img: "co-work"
    },
    {
      title: "Синхронизация с облаком",
      text: "Теряли ежедневник, забывая его в вагоне метро? Больше подобного не произойдёт - в приложении осуществлена синхронизация данных с облаком и доступ с любого устройства. Бездельничать теперь не получится!",
      img: "cloud-sync"
    },
    {
      title: "Умные уведомления",
      text: "Постоянно забываете свои планы на день? Проезжаете мимо банка, когда нужно срочно положить деньги на счёт? Больше этого не случится! Приложение уведомит вас о задачах, стоит вам лишь указать местоположение.",
      img: "smart-notifications"
    },
    {
      title: "Автопланирование",
      text: "Теперь вам не о чем беспокоиться - программа сделает все за вас! Уникальные алгоритмы, помогающие создавать собственный распорядок дня с учётом перерывов. Всё, что от вас требуется - обозначить время и внести задачу в список!",
      img: "autoplanning"
    },
  ]