@import 'inc/var.sss'

@import 'inc/reset.css'
@import 'inc/typo.sss'
@import 'inc/grid.sss'
@import 'inc/btn.sss'
@import 'inc/form.sss'
@import 'inc/fonts.css'
@import 'inc/modal.sss'

@import 'blocks/header.sss'
@import 'blocks/hero.sss'
@import 'blocks/advantages.sss'
@import 'blocks/platforms.sss'
@import 'blocks/price.sss'
@import 'blocks/try.sss'
@import 'blocks/footer.sss'

