body
  text: $text-dark normal 16px 1.5
  font-family: $font
  overflow-x: hidden

.h1
  text: 600 25px @lg 49px

.h2
  text: bold 25px @xl 33px

.h3
  text: bold 20px @xl 25px

.h4
  text: bold 20px 1.4