section.hero#about
  .hero__container.container
    .hero__wrapper
      .hero__title BrainyPlan
      .hero__text Фабрика по воплощению<br> целей в жизнь.
      a.hero__btn.btn.btn--white.scroll-to(href="#try") Попробовать бесплатно

    .hero__video(data-modal="video")
      button.btn.btn--play