include inc/head.pug
include inc/header.pug

include blocks/hero.pug
include blocks/advantages.pug
include blocks/platforms.pug
include blocks/price.pug
include blocks/try.pug
include blocks/modal.pug

include inc/footer.pug
include inc/foot.pug